<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-button>ACCOUNTS</button>
  <button mat-button routerLink="/categories">CATEGORIES</button>
  <button mat-button>NOVEMBER 2020</button>
  <button mat-button>NEW BUDGET</button>
  <button mat-button>LOGGED USER</button>
</mat-toolbar>

<mat-toolbar class="no-background-color">
  <span class="spacer"></span>
  <button mat-button routerLink="/dashboard">SUMMARY</button>
  <button mat-button>TRANSACTIONS</button>
  <button mat-button>PLAN</button>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
